<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.id.mapper.ImagesMapper">
    <select id="getImagesListAll" resultType="java.util.HashMap">
        select imageid, username, images.classifyid, classifyname, uptime, image, zan, cai from images, classify, user
        where images.classifyid = classify.classifyid and images.userid = user.userid and images.status = 1
        order by uptime desc
    </select>

    <select id="getImagesListByUserid" resultType="java.util.HashMap">
        select imageid, username, images.classifyid, classifyname, uptime, image, zan, cai from images, classify, user
            where images.classifyid = classify.classifyid and images.userid = #{userid}
              and images.userid = user.userid and images.status = 1
        order by uptime desc
    </select>

    <select id="getImagesListByClassifyname" resultType="java.util.HashMap">
        select imageid, username, images.classifyid, classifyname, uptime, image, zan, cai from images, classify, user
            where images.classifyid = classify.classifyid and classify.classifyname = #{classifyname}
              and images.userid = user.userid and images.status = 1
        order by uptime desc
    </select>

    <select id="getImagesListByClassifynameAndZan" resultType="java.util.HashMap">
        select imageid, username, images.classifyid, classifyname, uptime, image, zan, cai from images, classify, user
        where images.classifyid = classify.classifyid and classify.classifyname = #{classifyname}
          and images.userid = user.userid and images.status = 1
        order by zan desc
    </select>

    <select id="getImagesListByNotshenhe" resultType="java.util.HashMap">
        select imageid, username, images.classifyid, classifyname, uptime, image, zan, cai from images, classify, user
        where images.classifyid = classify.classifyid and images.userid = user.userid and images.status = 0
        order by uptime desc
    </select>

    <select id="getOneImage" resultType="java.util.HashMap">
        select imageid, username, images.classifyid, classifyname, uptime, image, zan, cai from images, classify, user
        where images.classifyid = classify.classifyid and images.imageid = #{imageid} and images.userid = user.userid
    </select>

    <insert id="insertOneImage">
        insert into `images`(userid, classifyid, uptime, image)
            values (#{userid}, #{classifyid}, #{uptime}, #{image})
    </insert>

    <delete id="deleteOneImage">
        delete from images where imageid = #{imageid}
    </delete>

    <update id="updatestatus">
        update `images` set
            status = 1,
            classifyid = (select classifyid from classify where classifyname = #{classifyname})
            where imageid = #{imageid};
    </update>

    <select id="getUseridByImageid" resultType="int">
        select userid from images where imageid = #{imageid}
    </select>

    <select id="getZanByImageid" resultType="int">
        select zan from images where imageid = #{imageid}
    </select>

    <select id="getCaiByImageid" resultType="int">
        select cai from images where imageid = #{imageid}
    </select>

    <update id="setZanByImageid">
        update `images` set
            zan = images.zan + 1
                where imageid = #{imageid}
    </update>

    <update id="setCaiByImageid">
        update `images` set
            cai = images.cai + 1
        where imageid = #{imageid}
    </update>
</mapper>